.Rproj.user/
.Rhistory
data/
notes/
output/figures/
output/figures/components/
output/results/
output/tables/
.Rproj.user/6DE1EBD8/pcs/files-pane.pper
.Rproj.user/6DE1EBD8/pcs/source-pane.pper
.Rproj.user/6DE1EBD8/pcs/windowlayoutstate.pper
.Rproj.user/6DE1EBD8/pcs/workbench-pane.pper
.Rproj.user/6DE1EBD8/rmd-outputs
.Rproj.user/6DE1EBD8/sources/prop/F89E121A
.Rproj.user/6DE1EBD8/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
code/.DS_Store
code/3-analysis/.DS_Store
*.pper
